version: '2.1'
services:
    httpd:
        build: docker/httpd
        ports:
            - "8080:80"
        volumes_from:
            - php-fpm
    php-fpm:
        build:
            context: docker/php-fpm
            args:
                INSTALL_XDEBUG: "false"
                INSTALL_MONGO: "false"
                INSTALL_REDIS: "false"
                INSTALL_HTTP_REQUEST: "false"
                INSTALL_UPLOAD_PROGRESS: "false"
                INSTALL_XATTR: "false"
        depends_on:
            db:
                condition: service_healthy
    db:
        image: mariadb
        healthcheck:
            test: "exit 0"
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
